div>form{ 
 #background:rgba($form-bg,.9);
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  #border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);
  border: 2px solid lightblue;
}
div>tab{
	border: 1px solid lightgray;
}
div>button {
  background-color: skyblue;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}	